* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0 2.5%;
}
.col {
  display: inline-block;
  width: 30%;
  margin-right: 1%;
}
select {
  width: 100%;
}
.table-head-row {
  background: #017bff;
  color: rgb(231, 231, 231);
}
tbody {
  background: #363a3f;
  color: rgb(231, 231, 231);
}
.table-row:hover {
  background: #484d52;
}
.add-btn {
  width: 7%;
}
.price-update {
  width: 100%;
}
.price-update select {
  width: 50%;
}
.price-label {
  display: block;
}
.card {
  width: 31%;
  max-width: 31%;
  margin-right: 20px;
}
.reviews-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.review-info {
  display: inline-block;
}
